@import "../common/commponent"
@import "../common/base"
@import "../common/common"
@import "../common/tab"
	
.classroom
	$tab()
	.cont
		.title1,.title2,.title3
			text-align center
			color #fff
			font-size $rem(48px)
			margin-bottom $rem(20px)
		.title1
			font-size $rem(60px)
		.frame
			text-align center