@import "../common/commponent"
@import "../common/base"
@import "../common/common"
@import "../common/tab"

.tech
	$tab()
	.cont .item
		display flex
	.item-left
		width 25%
		img
			width 100%
	.item-main
		flex 2
		padding $rem(20px 40px 20px 50px)
		h4
			font-size $rem(48px)
			color #ea0f30
			margin-bottom $rem(20px)
		.ftitle
			font-size $rem(36px)
			color #fff
			margin-bottom $rem(20px)
		.desc
			font-size $rem(30px)
			color #fff
			line-height $rem(35px) 