@import '../qst/all'

@import '../common/variable'  
@import '../common/commponent'


.add-address{
  .row{
    width 92%
    padding 0 4%
    margin $rem(45px) 0
  }
  input{
    font-size $rem(24px)
    outline none
    border solid #e8e8e8
    border-width 0 0 $rem(1px) 0
    width 100%
  }
  input::-webkit-input-placeholder {
    color: #eee;
  }
  input::input-placeholder {
    color: #eee;
  }
  .three-address{
    display flex
    flex-direction row
    justify-content space-around
    flex-wrap nowrap
    label{
      display flex
      flex-direction row
      justify-content space-around
      flex-wrap nowrap
      input{
        border-width $rem(1px)
      }
      margin-right 2%
      &:last-child{
        margin 0 !important
      }
    } 
  }
}