@import '../qst/all'

@import '../common/variable'
@import '../common/commponent'

@import '../common/typography'

.address-pick{ 
  .note{
    width 100% !important
    margin-left 2% !important
  }
  .content{
    .left,.main{
      background none !important
    }
    .left{
      input{
        margin-left 3% !important
      }
    }
  }
  
  .main{
    display block !important
  }
  .item{
    color #7f7f7f !important
    font-size $rem(20px)
    position relative !important
    height $rem(160px) !important
    h4,em{
      color #7f7f7f !important
      font-size $rem(20px) !important
    }
    border $rem(1px) solid #e8e8e8
    border-radius $border-radius-big
  }
  .delete-btn{
    position absolute
    display block
    width $rem(70px)
    background #ff3a52
    right 0
    top 0
    height $rem(160px)
    //border-radius $rem(0 20px 20px 0)
    text-align center
  }
  .delete{
    color #fff
    setPublicCenterCompletely()
  }
}