@import '../qst/all'

@import '../common/variable'
@import '../common/commponent'

@import '../common/typography'

.bill{ 
  summarize()
  .content{
    padding $rem(28px)
    .item{
      border $rem(1px) solid $grey-background-color
      border-radius $rem(10px)
      padding $rem(10px)
    }
    .item-header{
      color #2b2b2b
      setFontSize($font-size-24)
      border-bottom $rem(1px) solid $grey-background-color
      padding-bottom $rem(5px)
    }
    .item-body{ 
      padding $rem(10px 0 0)
    }
    .frame{
      margin-top $rem(10px)
      .sub-item{
        label{
          color #7f7f7f
          setFontSize($font-size-20)
        }
        margin-right $rem(20px)
      }
    }
    .start{
      margin-top $rem(10px)
      h2{
        color #2b2b2b
        setFontSize($font-size-24)
      }
    } 
    .company-name{
      margin-top $rem(10px)
      width 100%
      height $rem(48px)
      line-height @height
      text-indent $rem(20px)
      setFontSize($font-size-20)
      background-color #f5f5f5
      border $rem(1px) solid #d2d2d2
    }
    .bill-detail{
      margin-top $rem(10px)
      color #2b2b2b
      setFontSize($font-size-20)
      margin-bottom $rem(3px)      
    }
  }
  .footer .button{
    display block
    $background-gradient($light-yellow-color,$dark-yellow-color)
    width 100%
    height $rem(70px)
    line-height @height
    text-align center
    color #fff
    setFontSize($font-size-30)
  }
}