@import '../qst/all'

@import '../common/variable'
@import '../common/commponent'

.cart{
  .status{
    color #d89334 !important
  }
  .order{
    display: flex;
    .img-a,.describ{
      float none !important
    }
    .img-a{
      margin-right 3%
      margin-left 0 !important
      img{
        margin-left 0 !important
        margin-right 0 !important
      }
    }
    input{
      position relative
      margin-top $rem(48px)
      margin-left 2%
    }
  }
  .bottom{
    display flex
    flex-direction row
    justify-content space-around
    flex-wrap nowrap
    span{
      width 50%
      &:first-child{
        color #d89334 !important
      }
    }
  }
  .total{
    p{
      &:first-child{
        color #999 !important
        border-top $rem(1px) solid #e8e8e8 
        border-bottom 0 !important
        padding-top $rem(10px)
      }
    }
  }
}