@import '../qst/all'

@import '../common/variable'
@import '../common/commponent'

.confirm-order{
  width 100%
  height 100%
  overflow-x hidden
  overflow-y scroll
  lafe-intro-item(100%)
  summarize()
  .content{   
    setContentMargin()
    padding-top $rem(30px)
  }
  .item{
    border-radius $border-radius-default
    padding $rem(10px 20px 0px)
    border $rem(1px) solid $greyer-background-color
    margin-bottom $rem(20px)
    &.last{
      margin-bottom $rem(100px)
    }
    .title{
      height $rem(55px)
      line-height @height
      border-bottom $rem(1px) solid $greyer-background-color
      setFontSize($font-size-24)
      display flex
      justify-content space-between
      strong{
        color $dark-yellow-color
        font-weight normal
      }
      .arrow{
        color $grey-color
      } 
    }
    .company{
      margin-left $rem(40px)
    }
    .pay{
      vertical-align middle
    }
    .pay:before{
      background-image url($image-sprite)
      background-position $rem(-65px 0px)
      background-repeat no-repeat 
      background-size $rem(150px 129px)
      display inline-block
      width $rem(30px)
      height $rem(30px)
      line-height @height
      content " "
      margin-right $rem(5px)
      vertical-align middle
    }
    .cont{
      setFontSize($font-size-20)
      padding (5px 0px)
      p{
        line-height $rem(34px)
      }
      .sub-item{
        height $rem(54px)
        line-height @height
        display flex
        justify-content space-between
        border-bottom $rem(1px) solid $greyer-background-color
        strong{
          font-weight normal
        }
      }
      .no-flex{
        display block
      }
      .sub-footer{
        color $dark-yellow-color
        text-align right
        padding $rem(8px 0px 0px)
        em{
          setFontSize($font-size-24)
        }
      }
      .none-border-bottom{
        border-bottom none
      }
    }
  }
  .poper-content{
    position absolute
    z-index 999
    background #fff
    width 70%
    height 45%
    color #000
    setPublicCenterCompletely()
    border-radius $border-radius-big
    text-align center
    .title{
      height 12%
      margin-top 7%
      width 100%
      border-bottom $rem(1px) solid #19bf40
      font-size $rem(30px)
      background url('../image/pay/cha.png') no-repeat 5% 20%
      background-size $rem(21px 21px)
      .use-password{
        font-size $rem(20px)
        color #0d70b5
        position absolute
        right 5%
        top 7%
      }
    }
    .content{
      .title{
        border 0
        font-size $rem(28px)
        display block
        margin-top 0
        background none
      }
      .price{
        display block
        font-size $rem(55px)
        padding 5% 0
      }
      .bank{
        font-size $rem(24px)
        border solid #a19e9e
        border-width $rem(1px) 0
        padding 5% 0
        text-align left
        padding-left 28%
        color #a19e9e
        background url('../image/pay/bank.png') no-repeat 16% center
        background-size $rem(38px 38px)
      }
    }
    .pay-btn{
      background #00a104
      width 80%
      height 15%
      text-align center
      border-radius $rem(100px)
      margin 10% auto 0
      .go-pay{
        position relative
        display block
        color #fff
        font-size $rem(32px)
        setPublicCenterCompletely()
      }
    }
  }
  addFooter()
}