@import '../qst/all'

@import '../common/variable'
@import '../common/commponent'


.index{
  .nav-bar{
    width 100%
    height $rem(150px)
    border-bottom $rem(20px) solid #f5f5f5
    margin-top $rem(20px)
    a{
      display inline-block
      width 24.5%
      text-align center
      //margin-top $rem(100px)
      height $rem(50px)
      padding-top $rem(90px)
      border-right $rem(1px) solid $home-line-color
      &:first-child{
        background url('../image/index/index-icon-01.png') no-repeat center $rem(30px)
        background-size $rem(44px 44px)
      }
      &:nth-child(2){
        background url('../image/index/index-icon-02.png') no-repeat center $rem(30px)
        background-size $rem(53px 51px)
      }
      &:nth-child(3){
        background url('../image/index/index-icon-03.png') no-repeat center $rem(30px)
        background-size $rem(48px 48px)
      }
      &:nth-child(4){
        border 0
        background url('../image/index/index-icon-04.png') no-repeat center $rem(30px)
        background-size $rem(37px 51px)
      }
    }
  }
  .list-wrap{
    background #f5f5f5
  }
  .product-list-01{
    width 100%
    background #f5f5f5
    display flex
    flex-direction row
    justify-content center
    padding-bottom $rem(20px)
    a{
      width 30%
      margin-right 2%
      text-align center
      border $rem(1px) solid #e8e8e8
      &:last-child{
        margin 0
      }
      img{
        width 100%
      }
    }
  }
  .product-list-02{
    width 100%
    background #f5f5f5
    display flex
    flex-direction row
    justify-content center
    padding-bottom $rem(20px)
    a{
      border $rem(1px) solid $home-line-color
    }
    img{
      width 100%
    }
    a:first-child{
      width 62%
      margin 0 2% 0 0
    }
    a:last-child{
      width 30%
    }
  }
  .recmend-product{
    border-top $rem(20px) solid #fff
    background #f5f5f5
    .title{
      span{
        padding $rem(5px 0)
        color #e38f03
        font-size $base-text-font
        display inline-block
        height $rem(50px)
        line-height @height
        &:first-child{
          width 38%
          text-align left
          padding-left 12%
          line-height $rem(50px)
          background url('../image/index/index-icon-05.png') no-repeat 10% center
          background-size $rem(28px 37px) 
        }
        &:nth-child(2){
          color #c9c9c9
          width 40%
          text-align right
          padding-right 8%
          line-height $rem(50px)
          background url('../image/index/index-icon-06.png') no-repeat 90% center
          background-size $rem(15px 15px) 
        }
      }
    }
    .list{
      display flex
      flex-direction row
      justify-content space-around
      flex-wrap wrap
      a{
        width 31%
        border $rem(1px) solid $home-line-color
        margin-bottom $rem(20px)
        img{
          width 100%
        }
        span{
          display block
          color #cb7e00
          line-height $rem(38px)
          background #fff
          padding-left 5%
          i{
            margin-left 3%
            font-weight bold
          }
          &:last-child{
            font-size $rem(14px)
            background #2a2a2a
            text-align center
          }
        }
      }
    }
  }
  .great{
    .title{
      span{
        &:first-child{
          width 38%
          text-align left
          padding-left 12%
          line-height $rem(50px)
          background url('../image/index/index-icon-07.png') no-repeat 10% center
          background-size $rem(31px 28px) 
        }
      }
    }
  }
  .banner-02{
    margin $rem(20px 0 0 0)
    width 100%
    border-top $rem(20px) solid #fff
    img{
      width 100%
    }
  }
  .bottom{
    padding-top $rem(20px)
  }
  .copyright{
    background #fff
    color #c6c6c6
    font-size $rem(12px)
    text-align center
    padding $rem(20px 0 20px 0)
  }
}