@import '../qst/all'

@import '../common/variable'
@import '../common/commponent'

.sort{
  width 100%
  position relative
  left $rem(0px)
  top $rem(0px)
  height 100%
  overflow-y scroll
  .item:last-child{
    margin-bottom $rem(120px) !important
  }
  summarize()
  addSearchBox()
  .content{
    display flex
  }
  .search-box{
    position absolute
    right $rem(10px)
    top 50%
    margin-top $rem(-21px)
  }
  .menu{
    width 26%
    background-color $grey-background-color
    ul{
      margin-top $rem(30px)
    }
    li{
      &:first-child{
        a{
          background url('../image/sort/coctail.png') no-repeat 16% $rem(10px)
          background-size $rem(17px 27px)
        }
      }
      &:nth-child(2){
        a{
          background url('../image/sort/nature.png') no-repeat 16% $rem(10px)
          background-size $rem(23px 24px)
        }
      }
      &:nth-child(3){
        a{
          background url('../image/sort/coffee.png') no-repeat 16% $rem(10px)
          background-size $rem(28px 28px)
        } 
      }
      &:last-child{
        a{
          background url('../image/sort/doodle.png') no-repeat 16% $rem(10px)
          background-size $rem(21px 27px)
        }  
      }
    }
    li a{
      padding-left $rem(70px)
      setFontSize($font-size-20)
      color $dark-yellow-color
      height $rem(47px)
      line-height @height
    }
    .active{
      background-color $white-color
    }
  }
  .main{
    width 74%
    margin $rem(0 15px)
    overflow-y auto
  }
  .item{
    margin-top $rem(30px)
    .title{
      display flex
      justify-content space-between
      padding $rem(5px 10px 10px 0px)
      border-bottom $rem(1px) solid $grey-background-color
      img{
        width $rem(27px)
        height @width
      }
      em{
        setFontSize($font-size-20)
        color $dark-yellow-color
      }
      strong{
        setFontSize($font-size-20)
        color $dark-yellow-color
        font-weight normal
      } 
    }
    .cont{
      padding $rem(10px)
      background-color $grey-background-color
      margin $rem(10px 0px)
      .row{
        display flex
        flex-direction row
        justify-content center
        flex-wrap wrap
      }
      .sub-item{
        width 30%
        margin-right 2%
        position relative
        &:last-child{
          margin 0 !important
        }
        .picture{
          width 100%
          height @width
          border $rem(1px) solid $greyer-background-color
          img{
            max-width 100%
            margin-right $rem(20px)
          }
        }
        .strong{
          margin $rem(10px 0px)
          text-align center
          setFontSize($font-size-18)
          position absolute
          top 25%
          //height 50%
          line-height 200%
          //left $rem(32px)
          width 100%
          background rgba(0,0,0,0.3)
          color #e38f03
        }
      }
    }    
  }
  .footer{
    height $rem(88px)
    addBottomNavigator()
    
  }
}
