extends ../common/layout
block content
  div(class="buy-card-special")
    div(class="top")
      div(class="left")
        span(class="sub-left")
          em(class="shape")
          | 海尔.一品
        span(class="sub-right") 
      div(class="right")
        | X

    div(class="content")
      div(class="item lafe-intro-item")
        div(class="main")
          div(class="picture")
            img(src="../../image/myfavorite/my-fav_01.png")
          div(class="note")
            h4 原瓶进口拉菲 花园干红葡萄酒6支装
            div(class="cont")
              em ¥ 499.00
              a(class="send-button") 发送链接
      div(class="item lafe-intro-item")
        div(class="main")
          div(class="picture")
            img(src="../../image/myfavorite/my-fav_01.png")
          div(class="note")
            h4 原瓶进口拉菲 花园干红葡萄酒6支装
            div(class="cont")
              em ¥ 499.00
              a(class="send-button") 发送链接
    div(class="bottom")
      em(class="expression")
      strong(class="more")
      input(class="enter-box")
      a(class="send") 发送