extends ../common/layout
block content
  div(class="news")
    div(class="header")
      h1 新闻资讯
    div(class="content")   
      h2(class="title") 苹果西打，既不是葡萄酒，也不是啤酒
      p(class="create-time") 2016-06-01
      div(class="main")
        img(class="" src="../../image/news/news_01.jpg")
        div(class="text") 
          | 啤酒的巨头时代已经过去了，种种迹象表明，新鲜的口味层出不穷，老家伙们也重新获得了青睐，比如苹果酒Cider,在香港也被叫做【苹果西打】


