extends ../common/layout
block content
  link(href="../")
  div(class="sort")
    div(class="header")
      div(class="search-box")
        input(class="search" type="text" placeholder="搜索")
        span(class="icon")
    div(class="content")  
      div(class="menu")
        ul
          li(class="selected")
            a(href="#") 葡萄酒
          li 
            a(href="#") 雪茄
          li
            a(href="#") 茶叶
          li
            a(href="#") 生鲜
      div(class="main")  
        div(class="item")
          div(class="title")
            em 按产地
            strong 排行榜
          div(class="cont")
            div(class="row")
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国 
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
            div(class="row")
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国  
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
        div(class="item")
          div(class="title")
            em 按产地
            strong 排行榜
          div(class="cont")
            div(class="row")
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国 
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
            div(class="row")
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
              div(class="sub-item")
                div(class="picture")
                  img(src="../../image/sort/sort_01.png")
                p(class="strong") 法国
    div(class="footer")
      ul(class="navigator")
        li 
          em(class="iconfont") &#xe648;
          strong 主页
        li(class="active") 
          em(class="iconfont ") &#xec9c;
          strong 分类
        li 
          em(class="iconfont") &#xe61e;
          strong 购物车
        li 
          em(class="iconfont") &#xe602;
          strong 个人中心