@import 'qst/all' 
@import 'common/base'
@import 'common/typography'

$viewsize()
$global-normalize()
$oocss(true)


@import "namespace/index"
@import "namespace/add-address"
@import "namespace/address-pick"
@import "namespace/bill"
@import "namespace/buy-card-edit"
@import "namespace/buy-card-special"
@import "namespace/buy-card"
@import "namespace/buy-result"
@import "namespace/cart"
@import "namespace/center-index"
@import "namespace/confirm-order"
@import "namespace/detail"
@import "namespace/my-favorite"
@import "namespace/my-order-01"
@import "namespace/my-order"
@import "namespace/news"
@import "namespace/order-detail"
@import "namespace/search-result"
@import "namespace/searching"
@import "namespace/service-apply"
@import "namespace/sort"