$tab()
	.nav
		display flex
		height $rem(134)
		line-height @height
		.item
			flex 1
			color #fff
			text-align center
			$background-gradient(#261619,#37121a)
			&.selected
				$background-gradient(#1d0d10,#270c13)
	.cont
		background-color #181818
		padding $rem(32px 0)