
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="add-address">
      <div class="header">
    		<h1>添加新地址</h1>
    		<a class="button" href="#">保存</a>
    	</div>
    	<div class="content">
    		<div class="row">
          <input type="text" placeholder="收货人姓名">  
        </div>
        <div class="row">
          <input type="text" placeholder="手机号码">  
        </div>
        <div class="row three-address">
          <label>省&nbsp;<input type="text"></label>
          <label>市&nbsp;<input type="text"></label>
          <label>区&nbsp;<input type="text"></label>
        </div>
        <div class="row">
          <input type="text" placeholder="详细地址">
        </div>
    	</div>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

