extends ../common/layout
block content
  .add-address
    .header 
      h1 添加新地址
      a.button(href='#') 保存
    .content
      .row
        input(type='text', placeholder='收货人姓名')
      .row
        input(type='text', placeholder='手机号码')
      .row.three-address
        label
          | 省   
          input(type='text')
        label
          | 市 
          input(type='text')
        label
          | 区 
          input(type='text')
      .row
        input(type='text', placeholder='详细地址')