extends ../common/layout
block content
  .my-favorite.address-pick
    .header
      h1 选择地址
      a.button(href='#') 管理
    .content
      .list
        .item.lafe-intro-item
          .left
            input.option-input.radio(name='', type='radio')
          .main
            .note
              h4 联系人：张三
              .amout
                | 联系电话：13888888888
              .cont
                em 收货地址：北京市海淀区北四环西路111号B座3层3055
              .delete-btn
                a.delete(href='javascript:;') 删除
        .item.lafe-intro-item
          .left
            input.option-input.radio(name='', type='radio')
          .main
            .note
              h4 联系人：张三
              .amout
                | 联系电话：13888888888
              .cont
                em 收货地址：北京市海淀区北四环西路111号B座3层3055
              .delete-btn
                a.delete(href='javascript:;') 删除
        .item.lafe-intro-item
          .left
            input.option-input.radio(name='', type='radio')
          .main
            .note
              h4 联系人：张三
              .amout
                | 联系电话：13888888888
              .cont
                em 收货地址：北京市海淀区北四环西路111号B座3层3055
              .delete-btn
                a.delete(href='javascript:;') 删除
    .footer
      .left
        input.option-input.radio(name='', type='radio', value='0')
        label 全选
      a.right(href='#')
        strong 删除
