
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="my-favorite address-pick">
      <div class="header">
    		<h1>选择地址</h1>
    		<a class="button" href="#">管理</a>
    	</div>
    	<div class="content">
    		<div class="list">
          <div class="item lafe-intro-item">
            <div class="left"><input class="option-input radio" name="" type="radio" /></div>
            <div class="main">
              <div class="note">
                <h4>联系人：张三</h4>
                <div class="amout">
                  联系电话：13888888888
                </div>
                <div class="cont">
                  <em>收货地址：北京市海淀区北四环西路111号B座3层3055</em>
                </div>
                <div class="delete-btn">
                  <a href="javascript:;" class="delete">删除</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item lafe-intro-item">
            <div class="left"><input class="option-input radio" name="" type="radio" /></div>
            <div class="main">
              <div class="note">
                <h4>联系人：张三</h4>
                <div class="amout">
                  联系电话：13888888888
                </div>
                <div class="cont">
                  <em>收货地址：北京市海淀区北四环西路111号B座3层3055</em>
                </div>
                <div class="delete-btn">
                  <a href="javascript:;" class="delete">删除</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item lafe-intro-item">
            <div class="left"><input class="option-input radio" name="" type="radio" /></div>
            <div class="main">
              <div class="note">
                <h4>联系人：张三</h4>
                <div class="amout">
                  联系电话：13888888888
                </div>
                <div class="cont">
                  <em>收货地址：北京市海淀区北四环西路111号B座3层3055</em>
                </div>
                <div class="delete-btn">
                  <a href="javascript:;" class="delete">删除</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

