<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<link href="../../style/base.css" rel="stylesheet">
	<link href="../../style/main.css" rel="stylesheet"></head>
</html>
<body>
<div class="wrap">
	<div class="buy-card-edit">
		<div class="header">
			<h1>我的购物车</h1>
			<a href="#" class="button">编辑</a>
		</div>
		<div class="content">
			<div class="list">
				<div class="item">
					<div class="item-head">
						<span class="left">
							<input name="" type="radio" class="option-input radio"></span>
						<div class="main">
							<label>lafite店铺   ></label>
							<a href="#" class="right">编辑</a>
						</div>
					</div>
					<div class="lafe-intro-item">
						<div class="left">
							<input name="" type="radio" class="option-input radio"></div>
						<div class="main">
							<div class="picture">
								<img src="../../image/myfavorite/my-fav_01.png"></div>
							<div class="note">
								<h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
								<div class="cont"> <em>¥ 499.00</em>
									<span class="number">
										<label>数量：</label>
										<span class="input-item">
											<small class="add-button">-</small>
											<input value="6">
											<small class="delete-button">+</small>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="item-footer">
						<div>
							共计2件商品 小计：¥ <em>499.00</em>
							（含运费¥ 499.00）
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item-head">
						<span class="left">
							<input name="" type="radio" class="option-input radio"></span>
						<div class="main">
							<label>lafite店铺   ></label>
							<a href="#" class="right">编辑</a>
						</div>
					</div>
					<div class="lafe-intro-item">
						<div class="left">
							<input name="" type="radio" class="option-input radio"></div>
						<div class="main">
							<div class="picture">
								<img src="../../image/myfavorite/my-fav_01.png"></div>
							<div class="note">
								<h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
								<div class="cont">
									<em>¥ 499.00</em>
									<span class="number">
										<label>数量：</label>
										<span class="input-item">
											<small class="add-button">-</small>
											<input value="6">
											<small class="delete-button">+</small>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="item-footer">
						<div>
							共计2件商品 小计：¥
							<em>499.00</em>
							（含运费¥ 499.00）
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="left">
				<input name="" type="radio" value="0" class="option-input radio">
				<label>全选</label>
			</div>
			<a href="#" class="middle right"> <strong>移至收藏</strong>
			</a>
			<a href="#" class="right"> <strong>删除</strong>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../script/mod.js"></script>
</body>