<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<link href="../../style/base.css" rel="stylesheet">
	<link href="../../style/main.css" rel="stylesheet"></head>
</html>
<body>
<div class="wrap">
	<div class="buy-card-special">
		<div class="top">
			<div class="left">
				<span class="sub-left"> <em class="shape"></em>
					海尔.一品
				</span>
				<span class="sub-right"></span>
			</div>
			<div class="right">X</div>
		</div>
		<div class="content">
			<div class="item lafe-intro-item">
				<div class="main">
					<div class="picture">
						<img src="../../image/myfavorite/my-fav_01.png"></div>
					<div class="note">
						<h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
						<div class="cont"> <em>¥ 499.00</em>
							<a class="send-button">发送链接</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<em class="expression"></em> <strong class="more"></strong>
			<input class="enter-box">
			<a class="send">发送</a>
		</div>
	</div>
</div>
<script type="text/javascript" src="../../script/mod.js"></script>
</body>