
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->
<div class="buy-card">
  <div class="header">
		<h1>我的购物车</h1>
		<a class="button" href="#">编辑</a>
	</div>
	<div class="content">
		<div class="list">
      <div class="item">
        <div class="item-head">
          <span class="left">
            <input class="option-input radio" name="" type="radio" />
            <label>lafite店铺   ></label>
          </span>
          <a class="right" href="#">编辑</a>
        </div>
        <div class="item-body">
          <div class="lafe-intro-item">
            <div class="left"><input class="option-input radio" name="" type="radio" /></div>
            <div class="main">
              <div class="picture">
                <img src="../../image/myfavorite/my-fav_01.png" />
              </div>
              <div class="note">
                <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                <div class="cont">
                  <em>¥ 499.00</em>
                  <strong>数量：6</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="slide">
            <a class="collect" href="#">
              移至收藏
            </a>
            <a class="delete" href="#">
              删除
            </a>
          </div>
        </div>
        
        <div class="item-footer">
          <div>
            共计2件商品 小计：¥ <em>499.00</em>  （含运费¥ 499.00）
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-head">
          <span class="left">
            <input class="option-input radio" name="" type="radio" />
            <label>lafite店铺   ></label>
          </span>
          <a class="right" href="#">编辑</a>
        </div>
        <div class="lafe-intro-item">
          <div class="left"><input class="option-input radio" name="" type="radio" /></div>
          <div class="main">
            <div class="picture">
              <img src="../../image/myfavorite/my-fav_01.png" />
            </div>
            <div class="note">
              <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
              <div class="cont">
                <em>¥ 499.00</em>
                <strong>数量：6</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="item-footer">
          <div>
            共计2件商品 小计：¥ <em>499.00</em>  （含运费¥ 499.00）
          </div>
        </div>
      </div>
		</div>
	</div>
  <div class="footer">
    <div class="left">
      <em>合计：¥</em>
      <strong>998.00</strong>
    </div>
    <a class="right" href="#">
      <strong>去结算</strong>
    </a>
  </div>
</div>
  
<!-- 引入js -->

<script type="text/javascript" src="../../script/page/demo.js"></script>
<script>
    require('alading:app/script/page/demo');
</script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

