extends ../common/layout
block content
  div(class="buy-result")
    div(class="header")
      h1 下单成功
    div(class="content")
      div(class="")
        div(class="success")
          img(src="../../image/buyresult/buy-result_01.png")
        div(class="message")
          p(class="info01") 订单支付成功
          p(class="info02") 支付金额：
            strong ¥800  
        div(class="button-frame") 
          a(class="button" href="#") 查看订单
          a(class="button back" href="#") 回首页

