
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="buy-result">
    	<div class="header">
    		<h1>下单成功</h1>
    	</div>
    	<div class="content">
    		<div class="">
    			<div class="success">
            <img src="../../image/buyresult/buy-result_01.png" />
          </div>
    			<div class="message">
    				<p class="info01">订单支付成功</p>
    				<p class="info02">支付金额：<strong>¥800</strong></p>
    			</div>
    			<div class="button-frame">
    				<a class="button" href="#">查看订单</a>
    				<a class="button back" href="#">回首页</a>
    			</div>
    		</div>
    	</div>
    </div>
  
  <!-- 引入js -->
  
  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

