extends ../common/layout
block content
  .my-order.my-order-01.cart
    .header
      h1 我的购物车
      a.button(href='#') 编辑
    hr
    .content
      .shop-list
        .title
          .name
            input.option-input.radio(name='', type='radio')
            img(src='../../image/common/wu.png')
            |  dfafa店铺 >
          .status 编辑
        .order
          input.option-input.radio(name='', type='radio')
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span ￥ 499.00
              span 数量：6
        .order
          input.option-input.radio(name='', type='radio')
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span ￥ 499.00
              span 数量：6
        .total
          p 共计2件商品 合计：￥998.00 (含运费￥ 0.00)
  .total-nav
    ul
      li
        a(href='javascript:;') 主页
      li
        a(href='javascript:;') 分类
      li
        a(href='javascript:;') 购物车
      li.active
        a(href='javascript:;') 个人中心
