extends ../common/layout
block content
	link(href="../../css/namespace/classroom.css" rel="stylesheet")
	.content.classroom
		a(class="jumbotron" href="#")
			img(src="../../image/yhck_07.jpg")
		.tab
			.nav
				.item.selected 课程简介
				.item 名师介绍
				.item 其他课程
			.cont
				p.title1 家庭智慧
				p.title2 讲师：海洋
				p.title3 智慧投资：30元
				p.frame
					img(src="../../image/yhck_06.png")


