
<!-- !!!!!!!!!!!!!此demo文件不可删!!!!!!!!!!!!!!！ -->

<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="confirm-order">
      <head class="header">
		  	<h1>确认订单</h1>
		  </head>
		  <div class="content">
		  	<div>
		  		<div class="">
		  			<div class="title">
		  				<em>配送地址</em>
		  				<strong>></strong>
		  			</div>
		  			<div class="cont">
		  				<p>联系人：张三</p>
		  				<p>联系电话：1388888</p>
		  				<p>收货地址：北京市海定区北四环西路111号B座3层3055</p>
		  			</div>
		  		</div>
		  		<div>
		  			<div class="title">
		  				<em>商品详情</em>
		  			</div>
		  			<div class="cont">
		  				<div class="item">
			    			<div class="picture">
									我是图片
			  				</div>
			  				<div class="note">
			  					<h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
			  					<div>
			  						<em>¥ 499.00</em>
			  						<a href="#">加入购物车</a>
			  					</div>
			  				</div>
			    		</div>
		  				<div>
		  					<em>配送方式</em>
		  					<strong>快递 免邮</strong>
		  				</div>
		  				<div>
		  					<em>支付方式</em>
		  					<strong>微信支付</strong>
		  				</div>

		  				<div>
		  					共计1件商品 合计<em>¥</em>499.00<em>(含运费¥。00)</em>
		  				</div>
		  			</div>
		  		</div>
		  		<div>
		  			<div class="title">
		  				<em>发票信息</em>
		  				<strong>编辑</strong>
		  			</div>
		  			<div class="cont">
		  				<div>
		  					<span>
		  						<label>个人</label>
		  						<input name="" type="radio" />
		  					</span>
		  					<span>
		  						<label>单位</label>
		  						<input name="" type="radio" />
		  					</span>
		  				</div>
		  				<div>
		  					青岛海尔有限公司
		  				</div>
		  			</div>
		  		</div>
		  	</div>
		  	<div>
    			<div>
    				<em>合计：¥<em>
    				<strong>998.00</strong>
    			</div>
    			<a class="" href="#">
    				去结算
    			</a>
    		</div>
		  </div>
    </div>
  
  <!-- 引入js -->
  <!-- js文件的命名一定要和页面的文字一样 -->
  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

