extends ../common/layout
block content 
  div(class="confirm-order")
    div(class="header")
      h1 确认订单
    div(class="content")
      div(class="item")
        div(class="title")
          em 配送地址
          strong(class="arrow") >
        div(class="cont")
          p 联系人：张三 
          p 联系电话：1388888
          p 收货地址：北京市海定区北四环西路111号B座3层3055
      div(class="item") 
        div(class="title")
          em 商品详情 
        div(class="cont")
          div(class="lafe-intro-item")
            div(class="main")
              div(class="picture")
                img(src="../../image/myfavorite/my-fav_01.png")
              div(class="note")
                h4 原瓶进口拉菲 花园干红葡萄酒6支装
                div(class="cont")
                  em ¥ 499.00
                  strong 数量：6
          div(class="sub-item")
            em 配送方式
            strong 快递 免邮
          div(class="sub-item")
            em 支付方式
            strong(class="pay") 微信支付
          div(class="sub-footer")
            | 共计1件商品 合计：¥
            em 499.00
            | 含运费¥0.00） 
      div(class="item")
        div(class="title")
          em 发票信息
          strong(class="strong") 编辑
        div(class="cont") 
          div(class="sub-item no-flex")
            span
              label 个人
              input(name="" type="radio")
            span(class="company")
              label 单位 
              input(name="" type="radio")
          div(class="sub-item none-border-bottom") 青岛海尔有限公司
    div(class="footer")
      div(class="left")
        em 合计：¥
        strong 998.00
      a(class="right" href="#")
        strong 去支付

