
<!-- !!!!!!!!!!!!!此demo文件不可删!!!!!!!!!!!!!!！ -->

<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="demo">
      这里的class=demo是做为命名空间的（和该页面名字一样），外面一定要写这个class，并且在写样式的时候也要包在这个class里面，防止合并代码的时候样式覆盖
    </div>
  
  <!-- 引入js -->
  <!-- js文件的命名一定要和页面的文字一样 -->
  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

