extends ../common/layout
block content
  .detail
    #slide.homeSlide.detailSlide
    .intro
      .row
        h1 拉菲·花园双支礼盒装
        h3 全店明星产品，口碑良好，高性价比。
      .row
        .item
          | ￥
          span 249
        .item
          .items 数量：
          .property-quantity-control.contents.items
            a.vm-minus.j-minus(title='减少', href='javascript:;') -
            input#J_quantity(type='text', value='1')
            a.vm-plus.j-plus(title='增加', href='javascript:;') +
      .row
        p 运费  在线支付免运费
        p 服务  由海尔·一品发货并提供售后服务
        p 提示  不支持7天无理由退款
    .detail-img
      .title 商品详情
      .picture
        img(src='../../image/detail/detail-product-banner.png')
        img(src='../../image/detail/detail-product-banner.png')
        img(src='../../image/detail/detail-product-banner.png')
        img(src='../../image/detail/detail-product-banner.png')
    .footer.detai-foot
      .left
        .item
          a(href='') 咨询
        .item
          a(href='') 收藏
        .item
          a(href='') 购物车
      a.right(href='#')
        strong 加入购物车
      a.right(href='#')
        strong 立即购买
