<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="detail">

      <div id="slide" class="homeSlide detailSlide">
      </div>

      <div class="intro">
        <div class="row">
          <h1>拉菲·花园双支礼盒装</h1>
          <h3>全店明星产品，口碑良好，高性价比。</h3>
        </div>
        <div class="row">
          <div class="item">
            ￥<span>249</span>
          </div>
          <div class="item">
            <div class="items">数量：</div>
            <div class="property-quantity-control contents items">
                <a title="减少" href="javascript:;" class="vm-minus j-minus">-</a><input type="text" value="1" id="J_quantity"><a title="增加" href="javascript:;" class="vm-plus j-plus">+</a>
            </div>
          </div>
        </div>
        <div class="row">
          <p>运费&nbsp;&nbsp;在线支付免运费</p>
          <p>服务&nbsp;&nbsp;由海尔·一品发货并提供售后服务</p>
          <p>提示&nbsp;&nbsp;不支持7天无理由退款</p>
        </div>
      </div>
      
      <div class="detail-img">
        <div class="title">商品详情</div>
        <div class="picture">
          <img src="../../image/detail/detail-product-banner.png">
          <img src="../../image/detail/detail-product-banner.png">
          <img src="../../image/detail/detail-product-banner.png">
          <img src="../../image/detail/detail-product-banner.png">
        </div>
      </div>

    </div>
  
  <!-- 引入js -->
  
  <script>
    var imgList = [{
       content: '/alading/image/detail/detail-product-banner.png',
       href:'#'
   }, {
      content: '/alading/image/detail/detail-product-banner.png',
      href:'#'
  }, {
      content: '/alading/image/detail/detail-product-banner.png',
      href:'#'
  }];
  </script>
  <script type="text/javascript" src="../../script/page/index.js"></script>
  <script>
      require('alading:app/script/page/index');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

