extends ../common/layout
block content 
  div(class="index") 
    div(class="logo-search-bar")
      div(class="logo")
        img(src="../../image/index/logo.png")
      div(class="search")
        input(type="text" placeholder="搜索")
    div(id="slide" class="homeSlide")
    div(class="nav-bar")
      a(href="javascript:;") 分类
      a(href="javascript:;") 收藏
      a(href="javascript:;") 购物车
      a(href="javascript:;") 会员中心
    div(class="list-wrap")
      div(class="product-list-01")
        a(href="javascript:;")
          img(src="../../image/index/index-product.jpg")
        a(href="javascript:;")
          img(src="../../image/index/index-product.jpg")
        a(href="javascript:;")
          img(src="../../image/index/index-product.jpg")
      div(class="product-list-02")
        a(href="javascript:;")
          img(src="../../image/index/index-banner-02.png")
        a(href="javascript:;")
          img(src="../../image/index/index-banner-02.png")
      div(class="recmend-product")
        div(class="title")
          span 热销商品
          span 更多
        div(class="list")
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
      div(class="recmend-product great")
        div(class="title")
          span 推荐商品
          span 更多
        div(class="list")
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
      div(class="banner-02")
        img(src="../../image/index/index-banner-03.png")

      div(class="recmend-product bottom")
        div(class="list")
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
          a(href="javascript;;")
            img(src="../../image/index/index-product.jpg")
            span
              | ￥ 
              i 298
            span 拉菲庄园入门级2008
      div(class="banner-02")
        img(src="../../image/index/index-banner-04.png")
      div(class="copyright")
        | Copyright©2000-2015 m.ehaier.com
        br
        | 鲁ICP备09096283号