<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="index">

      <div class="logo-search-bar">
        <div class="logo"><img src="../../image/index/logo.png"></div><div class="search">
          <input type="text" placeholder="搜索">
        </div>
      </div>

      <div id="slide" class="homeSlide">
      </div>

      <div class="nav-bar">
        <a href="javascript:;">分类</a><a href="javascript:;">收藏</a><a href="javascript:;">购物车</a><a href="javascript:;">会员中心</a>
      </div>
      
      <div class="list-wrap">
        <div class="product-list-01">
          <a href="javascript:;"><img src="../../image/index/index-product.jpg"></a><a href="javascript:;"><img src="../../image/index/index-product.jpg"></a><a href="javascript:;"><img src="../../image/index/index-product.jpg"></a>
        </div>

        <div class="product-list-02">
          <a href="javascript:;"><img src="../../image/index/index-banner-02.png"></a><a href="javascript:;"><img src="../../image/index/index-product-02.jpg"></a>
        </div>
        
        <div class="recmend-product">
        <div class="title">
          <span>热销商品</span>
          <span>更多</span>
        </div>
        <div class="list">
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
        </div>
      </div>
        
      <div class="recmend-product great">
        <div class="title">
          <span>推荐商品</span>
          <span>更多</span>
        </div>
        <div class="list">
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
        </div>
      </div>
  
      <div class="banner-02">
        <img src="../../image/index/index-banner-03.png">
      </div>
        
      <div class="recmend-product bottom">
        <div class="list">
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
          <a href="javascript;;">
            <img src="../../image/index/index-product.jpg">
            <span>￥<i>298</i></span>
            <span>拉菲庄园入门级2008</span>
          </a>
        </div>
      </div>
      
      <div class="banner-02">
        <img src="../../image/index/index-banner-04.png">
      </div>

      <div class="copyright">
        Copyright©2000-2015 m.ehaier.com<br>鲁ICP备09096283号
      </div>

      </div>
  
  <!-- 引入js -->
  
  <script>
    var imgList = [{
       content: '/alading/image/index/index-banner-01.png',
       href:'#'
   }, {
      content: '/alading/image/index/index-banner-01.png',
      href:'#'
  }, {
      content: '/alading/image/index/index-banner-01.png',
      href:'#'
  }];
  </script>
  <script type="text/javascript" src="../../script/page/index.js"></script>
  <script>
      require('alading:app/script/page/index');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

