extends ../common/layout
block content
  div(class="my-favorite")
    div(class="header")
      h1 我的收藏
      a(class="button" href="#") 完成
    div(class="content")
      div(class="list")
        div(class="item lafe-intro-item")
          div(class="left")
            input(class="option-input radio" name="" type="radio")
          div(class="main")
            div(class="picture")
              img(src="../../image/myfavorite/my-fav_01.png")
            div(class="note")
              h4 原瓶进口拉菲 花园干红葡萄酒6支装
              div(class="cont")
                em ¥ 499.00
                strong(class="strong") 加入购物车
        div(class="item lafe-intro-item")
          div(class="left")
            input(class="option-input radio" name="" type="radio")
          div(class="main")
            div(class="picture")
              img(src="../../image/myfavorite/my-fav_01.png")
            div(class="note")
              h4 原瓶进口拉菲 花园干红葡萄酒6支装
              div(class="cont")
                em ¥ 499.00
                strong(class="strong") 加入购物车
    div(class="footer")
      ul(class="navigator")
        li 
          em(class="iconfont") &#xe648;
          strong 主页
        li(class="active") 
          em(class="iconfont ") &#xec9c;
          strong 分类
        li 
          em(class="iconfont") &#xe61e;
          strong 购物车
        li 
          em(class="iconfont") &#xe602;
          strong 个人中心

