extends ../common/layout
block content
  .my-favorite
    .header
      h1 我的收藏
      a.button(href='MyFavorite.html') 完成
    .content
      .list
        .item.lafe-intro-item
          .left
            input.option-input.radio(name='', type='radio')
          .main
            .picture
              img(src='../../image/myfavorite/my-fav_01.png')
            .note
              h4 原瓶进口拉菲 花园干红葡萄酒6支装
              .cont
                em ¥ 499.00
                strong.strong 加入购物车
        .item.lafe-intro-item
          .left
            input.option-input.radio(name='', type='radio')
          .main
            .picture
              img(src='../../image/myfavorite/my-fav_01.png')
            .note
              h4 原瓶进口拉菲 花园干红葡萄酒6支装
              .cont
                em ¥ 499.00
                strong.strong 加入购物车
      .footer
        .left
          input.option-input.radio(name='', type='radio', value='0')
          label 全选
        a.right(href='#')
          strong 取消收藏
