
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="my-order my-order-02">
      <div class="header">
    		<h1>我的订单</h1>
    	</div>
    	<ul class="navigator">
    		<li>
    			全部订单<br />(20)
    		</li>
    		<li>
          待付款<br />(20)
    		</li>
    		<li>
          待收货<br />(20)
    		</li>
    		<li>
          已完成<br />(20)
    		</li>
    		<li class="active">
          退换货<br />(20)
    		</li>
    	</ul>
      
      <hr>

      <div class="content"></div>

    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

