
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="my-order">
      <div class="header">
    		<h1>我的订单</h1>
    	</div>
    	<ul class="navigator">
    		<li>
    			全部订单<br />(20)
    		</li>
    		<li>
          待付款<br />(20)
    		</li>
    		<li>
          待收货<br />(20)
    		</li>
    		<li>
          已完成<br />(20)
    		</li>
    		<li class="active">
          退换货<br />(20)
    		</li>
    	</ul>
      <div class="list">
        <div class="item">
          <div class="item-header">
            <span class="left">
              <em class="order-no">退货订单：<i>201677777777</i></em>
              <strong class="time">退货时间：<i>2016-06-01</i></strong>
            </span>
            <span class="right">
              待确认
            </span>
          </div>
          <div class="item-body lafe-intro-item">
            <div class="main">
              <div class="picture">
                <img src="../../image/myfavorite/my-fav_01.png" />
              </div>
              <div class="note">
                <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                <div class="cont">
                  <em>¥ 499.00</em>
                  <strong>数量：6</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-header">
            <span class="left">
              <em class="order-no">退货订单：<i>201677777777</i></em>
              <strong class="time">退货时间：<i>2016-06-01</i></strong>
            </span>
            <span class="right">
              待确认
            </span>
          </div>
          <div class="item-body lafe-intro-item">
            <div class="main">
              <div class="picture">
                <img src="../../image/myfavorite/my-fav_01.png" />
              </div>
              <div class="note">
                <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                <div class="cont">
                  <em>¥ 499.00</em>
                  <strong>数量：6</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

