extends ../common/layout
block content
  .my-order.my-order-01
    .header
      h1 我的订单
    ul.navigator
      li
        | 全部订单
        br
        | (20)
      li
        | 待付款
        br
        | (20)
      li
        | 待收货
        br
        | (20)
      li
        | 已完成
        br
        | (20)
      li.active
        | 退换货
        br
        | (20)
    hr
    .content
      .shop-list
        .title
          .name
            img(src='../../image/common/wu.png')
            |  dfafa店铺 >
          .status 状态：已完成
        .order.clearfix
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span 数量：6
              a.service(href='javascript:;') 退换货
              a.again(href='javascript:;') 再次购买
        .order.clearfix
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span 数量：6
              a.service(href='javascript:;') 退换货
              a.again(href='javascript:;') 再次购买
        .total
          p 共计2件商品 合计：￥998.00 (含运费￥ 0.00)
          p.real 实付：￥ 998.00
      .shop-list
        .title
          .name
            img(src='../../image/common/wu.png')
            |  dfafa店铺 >
          .status 状态：已完成
        .order.clearfix
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span 数量：6
              a.service(href='javascript:;') 退换货
              a.again(href='javascript:;') 再次购买
        .order.clearfix
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span 数量：6
              a.service(href='javascript:;') 退换货
              a.again(href='javascript:;') 再次购买
        .total
          p 共计2件商品 合计：￥998.00 (含运费￥ 0.00)
          p.real 实付：￥ 998.00
  .total-nav
    ul
      li
        a(href='javascript:;') 主页
      li
        a(href='javascript:;') 分类
      li
        a(href='javascript:;') 购物车
      li.active
        a(href='javascript:;') 个人中心
