extends ../common/layout
block content
	link(href="../../css/namespace/no-1.css" rel="stylesheet")
	.content.no-1
		a(class="jumbotron" href="#")
			img(src="../../image/yhck_07.jpg")
		.list
			.item
				img(src="../../image/yhck_11.jpg")
			.item
				img(src="../../image/yhck_12.jpg")

	