extends ../common/layout
block content
	link(href="../../css/namespace/no-2.css" rel="stylesheet")
	.content.no-2
		a(class="jumbotron" href="#")
			img(src="../../image/yhck_01.jpg")
		.list
			.title
				| 99会员区
			.item
				.left
					img(src="../../image/yhck_03.png")
				.main
					.main-left
						h4  王志纲
						p.ftitle 分享主题：冬天的活法
						p.desc Share theme :  winter of Living Law
					.main-right
						img(src="../../image/yhck_04.png")
			.item
				.left
					img(src="../../image/yhck_03.png")
				.main
					.main-left
						h4  王志纲
						p.ftitle 分享主题：冬天的活法
						p.desc Share theme :  winter of Living Law
					.main-right
						img(src="../../image/yhck_04.png")