extends ../common/layout
block content
  .my-order.my-order-01.order-detail
    .header
      h1 订单详情
    .info
      .title
        span 订单详情
        span 订单号:34241231312
      .connect
        p 联系人：张三
        p 联系电话：13888888888
        p 收货地址：北京市海淀区北四环西路111号B座3层3055
        p 下单时间：2016-05-24 18：00
        p 支付方式：在线支付
      .address
        p 配送方式：商家配送
        p 运单号：201600001111
        p 物流公司：顺风速运
        p 备注信息：需要发票
        p 发票信息：某某公司增值税发票
    .content
      .shop-list
        .title
          .name 商品详情
          .status 配送中
        .order.clearfix
          a.img-a(href='javascript:;')
            img(src='../../image/myfavorite/my-fav_01.png')
          .describ
            .top
              .text 原装进口拉菲 花园干红葡萄酒6支装
              .price ￥499.00
            .bottom
              span 数量：6
              a.again(href='javascript:;') 加入购物车
        .total
          p
            span
              img(src='../../image/center/messages.png', alt='')
              | 咨询
            span 共计2件商品 合计：￥998.00 (含运费￥ 0.00)
  .total-nav
    ul
      li
        a(href='javascript:;') 主页
      li
        a(href='javascript:;') 分类
      li
        a(href='javascript:;') 购物车
      li.active
        a(href='javascript:;') 个人中心
