extends ../common/layout
block content
	link(href="../../css/namespace/other.css" rel="stylesheet")
	.content.other
		a(class="jumbotron" href="#")
			img(src="../../image/yhck_07.jpg")
		.tab
			.nav
				.item.selected 课程简介
				.item 名师介绍
				.item 其他课程
			.cont
				.item
					.item-on
						.item-left
							img(src="../../image/yhck_10.png")
						.item-main
							h4 第二课
							p.ftitle 秒杀成交1
							p.desc 讲师：海洋
							p.price ¥30元
					.item-down
						.item-left
							img(src="../../image/yhck_01.png")
							strong 46845观看
						.item-main
							a(class="btn" href="#") 立即购买
				.item
					.item-on
						.item-left
							img(src="../../image/yhck_10.png")
						.item-main
							h4 第二课
							p.ftitle 秒杀成交1
							p.desc 讲师：海洋
							p.price ¥30元
					.item-down
						.item-left
							img(src="../../image/yhck_01.png")
							strong 46845观看
						.item-main
							a(class="btn" href="#") 立即购买