
<!-- !!!!!!!!!!!!!此demo文件不可删!!!!!!!!!!!!!!！ -->

<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="search-result">
    	<div class="header">
    		<div class="search-box">
    			<input class="search" type="text" placeholder="搜索"  />
    			<span class="icon"></span>
    		</div>
    	</div>
    	<div class="content">
    		<ul class="navigator">
    			<li>综合</li>
    			<li>销量</li>
    			<li>价格</li>
    		</ul>
    		<div class="cont">
    			
	    		<div class="list">
	    			<div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
	    		</div>
    		</div>
    	</div>
    </div>
  
  <!-- 引入js -->
  <!-- js文件的命名一定要和页面的文字一样 -->
  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

