
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="search-result">
    	
    <div class="logo-search-bar" style="position: relative;">
      <div class="logo"><img src="../../image/index/logo.png"></div><div class="search">
        <input type="text" placeholder="搜索">
      </div>
    </div>

    	<div class="content">
    		<ul class="navigator">
    			<li>综合<img class="hide" src="../../image/searchresult/arrow.png"></li>
    			<li class="active">销量<img src="../../image/searchresult/arrow.png"></li>
    			<li>价格<img src="../../image/searchresult/arrow-down.png"></li>
    		</ul>
    		<div class="cont">
    			
	    		<div class="list">
	    			<div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="lafe-intro-item">
              <div class="main">
                <div class="picture">
                  <img src="../../image/myfavorite/my-fav_01.png" />
                </div>
                <div class="note">
                  <h4>原瓶进口拉菲 花园干红葡萄酒6支装</h4>
                  <div class="cont">
                    <em>¥ 499.00</em>
                    <strong class="strong">加入购物车</strong>
                  </div>
                </div>
              </div>
            </div>
	    		</div>
    		</div>
    	</div>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

