extends ../common/layout
block content
  .my-order.service-apply
    .header
      h1 退换货服务
    .list
      .item
        .item-header
          span.left
            em.order-no
              | 订单编号：
              i 201677777777
        .item-body.lafe-intro-item
          .main
            .picture
              img(src='../../image/myfavorite/my-fav_01.png')
            .note
              h4 产品名称：拉菲花园
              .amout
                | 数量：
                select
                  option(value='') 1
                  option(value='') 3
                  option(value='') 2
                  option(value='') 5
              .cont
                em 订单原价：¥ 499.00
      .item
        .item-header
          span.left
            em.order-no.title 退货服务
        .check
          label
            input(type='radio', name='service')
            |   退货
          label
            input(type='radio', name='service')
            |   换货
          .text
            span 问题描述
            textarea
      .item
        .upload
          input.img-upload(type='file')
          span 照片上传
        .info
          p 为了帮助我们更好的解决问题，请您上传照片！
          p 照片支持格式：jpg,bmp,gif,jpeg,png；图片大小不超过500k。
      .item
        .item-header
          span.left
            em.order-no.title 收货人信息
        .address-info
          p 收货人：李想
          p 收货人手机：13888888888
          p 收货人电话：85858585
          p 收货人邮编：000000
          p 收货人地址：山东省青岛市崂山区海尔有限公司
    a.service-submit(href='javascript:;') 提交申请
