
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="my-order service-apply">
      <div class="header">
    		<h1>退换货服务</h1>
    	</div>
      <div class="list">
        <div class="item">
          <div class="item-header">
            <span class="left">
              <em class="order-no">订单编号：<i>201677777777</i></em>
            </span>
          </div>
          <div class="item-body lafe-intro-item">
            <div class="main">
              <div class="picture">
                <img src="../../image/myfavorite/my-fav_01.png" />
              </div>
              <div class="note">
                <h4>产品名称：拉菲花园</h4>
                <div class="amout">
                  数量：
                  <select>
                    <option value="">1</option>
                    <option value="">3</option>
                    <option value="">2</option>
                    <option value="">5</option>
                  </select>
                </div>
                <div class="cont">
                  <em>订单原价：¥ 499.00</em>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-header">
            <span class="left">
              <em class="order-no title">退货服务</em>
            </span>
          </div>
          <div class="check">
            <label><input type="radio" name="service">&nbsp;&nbsp;退货</label>
            <label><input type="radio" name="service">&nbsp;&nbsp;换货</label>
            <div class="text">
              <span>问题描述</span>
              <textarea></textarea>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="upload">
            <input type="file" class="img-upload">
            <span>照片上传</span>
          </div>
          <div class="info">
            <p>为了帮助我们更好的解决问题，请您上传照片！</p>
            <p>照片支持格式：jpg,bmp,gif,jpeg,png；图片大小不超过500k。</p>
          </div>
        </div>
        <div class="item">
          <div class="item-header">
            <span class="left">
              <em class="order-no title">收货人信息</em>
            </span>
          </div>
          <div class="address-info">
            <p>收货人：李想</p>
            <p>收货人手机：13888888888</p>
            <p>收货人电话：85858585</p>
            <p>收货人邮编：000000</p>
            <p>收货人地址：山东省青岛市崂山区海尔有限公司</p>
          </div>
        </div>
      </div>
      <a href="javascript:;" class="service-submit">提交申请</a>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

