
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="sort">

    	<div class="logo-search-bar" style="position: relative;">
        <div class="logo"><img src="../../image/index/logo.png"></div><div class="search">
          <input type="text" placeholder="搜索">
        </div>
      </div>

    	<div class="content">
    		<div class="menu">
    			<ul>
    				<li class="active"><a href="#">葡萄酒</a></li>
    				<li><a href="#">雪茄</a></li>
    				<li><a href="#">茶叶</a></li>
    				<li><a href="#">生鲜</a></li>
    			</ul>
    		</div>
    		<div class="main">
    			<div class="item">
    				<div class="title">
    					<em>按产地</em>
    					<strong><img src="../../image/searchresult/rate.png">&nbsp;&nbsp;排行榜</strong>
    				</div>
    				<div class="cont">
    					<div class="row">
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
              </div>
              <div class="row">
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
              </div>
    				</div>
    			</div>
          <div class="item">
            <div class="title">
              <em>按种类</em>
              <strong><img src="../../image/searchresult/rate.png">&nbsp;&nbsp;排行榜</strong>
            </div>
            <div class="cont">
              <div class="row">
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
              </div>
              <div class="row">
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
                <div class="sub-item">
                  <div class="picture"><img src="../../image/sort/sort_01.png" /></div>
                  <p class="strong">法国</p>
                </div>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

