extends ../common/layout
block content
	link(href="../../css/namespace/tech.css" rel="stylesheet")
	.content.tech
		a(class="jumbotron" href="#")
			img(src="../../image/yhck_07.jpg")
		.tab
			.nav
				.item.selected 课程简介
				.item 名师介绍
				.item 其他课程
			.cont
				.list
					.item
						.item-left
							img(src="../../image/yhck_03.png")
						.item-main
							h4 海洋
							p.ftitle 导师简介
							p.desc
								| 浙江大学教育培训中心特聘讲师、浙江电视台少儿频道《成长超动力》特约专家，十多年来，海洋老师以家庭教育及学习潜能开发为主要方向，结合自身的咨询与培训实践感悟，独立编著出版了家庭教育专著《好孩子是这样“炼”成的》，编印了《儿童习惯训练手册》《天使父母成长手册》等实用教程。

								