@import 'variables' //定义的一系列变量
@import 'compatibility' //定义的一些列解决兼容性的函数
@import 'normalize' //定义的一个浏览器原有样式重置函数
@import 'reset' //定义的一些列重置函数
@import 'typography'//自定义的一些排版样式函数
@import 'util'//
@import 'effects'//定义的一系列常用样式效果函数
@import 'shapes'//定义的一系列常见形状的函数
@import 'oocss'//针对移动端和PC端定义的一些布局样式
@import 'adaptive'//针对不同终端设置的最大宽度和默认字体大小